



<!-- service-area start -->
		<div id="sevice" class="service-area gray-bg border-top pt-90 pb-60">
			<div class="container">
				<div class="section-title text-center mb-70">
					<h2>Current Team Status</h2>
					<p>プロジェクト進捗</p>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-linegraph"></i>
							<h2><a [routerLink]="['/teambuilding']"> Team Building 50% </a></h2>
							<p></p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-linegraph"></i>
								<h2><a [routerLink]="['/fundraising']"> Fund Raising 58% </a></h2>
							<p></p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-linegraph"></i>
							<h2><a > Sailing Skills 0% </a></h2>
							<p>現在評価査定方法を検討しているため、暫定的に進捗率0％とします。
                
              </p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-linegraph "></i>
								<h2><a [routerLink]="['/physicaltraining']"> Physical Training 45% </a></h2>
							<p> </p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-linegraph"></i>
							<h2><a>Mental Training 0% </a></h2>
							<p>現在評価査定方法を検討しているため、暫定的に進捗率0％とします。

              </p>
						</div>
					</div>
					
				</div>
			</div>
		</div>
		<!-- service-area end -->