<!-- service-area start -->
		<div id="sevice" class="service-area gray-bg border-top pt-90 pb-60">
			<div class="container">
				<div class="section-title text-center mb-70">
					<h2 style="font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;">
            チームビルディング</h2>
					<p style="font-size:12px; padding-left:7px; padding-right:7px;">現状50％の達成率ですが、今後以下の目標をさらに達成する必要があります。皆さまの心温まるご支援よろしくお願い申し上げます。</p>
				</div>
　　　
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-laptop"></i>
							<h3 style="font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;">
								採用済みのチーム要職</h3>
							<p style="font-size:12px; padding-left:7px; padding-right:7px;">
               ヘルム、クルー、フィジカルトレーナー、ファンディングコンサルタント兼ITコンサルタント、後援チームマネージャー</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-pencil"></i>
							<h3 style="font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;">
								採用募集中のチームメンバー</h3>
										<p style="font-size:12px; padding-left:7px; padding-right:7px;">
                     コーチ、現場マネージャー、メンタルトレーナー、事務作業スタッフ</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-camera"></i>
							<h3 style="font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;">
								後援会、会長募集</h3>
										<p style="font-size:12px; padding-left:7px; padding-right:7px;">
                     お知り合いを集めて、後援会・応援団・サポートクラブ・ファンクラブを作って盛り上がりませんか？ぜひご連絡下さい。
</p>
						</div>
					</div>

        <!--<div class="row">
					<img src = "./assets/img/budget.png" class="img-thumbnail" style="width:100%"> 　　
　　　   </div>-->
		
				</div>
			</div>
		</div>
	<!-- service-area end -->
