/*

Template:  
Author: 
Version: 1
Design and Developed by: 

Note: This is Short code style file. All Short code related style included in this file. 

*/

@import url("default.css");
@import url("hamburgers.min.css");
@import url("header.css");
@import url("animate-headline.css");
@import url("slider.css");
@import url("portfolio.css");
@import url("service.css");
@import url("testimonial.css");
@import url("breadcrumb.css");
@import url("blog.css");
@import url("footer.css");