
  <body>
        
	<!--slider starts-->
<div class="slider-area-7">
			<div class="minimax-slider">
			   <div class="slider-active">
					<div class="single-slider" style="background-image: url(./assets/img/slider/s1.jpg);">
						<div class="slider-title">
							<span>TOKYO OLYMPIC 2020</span>
							 <h2>Passion for Dream</h2>
						</div>
					</div>
					<div class="single-slider" style="background-image: url(./assets/img/slider/s2.jpg);">
						<div class="slider-title">
							<span>TOKYO OLYMPIC 2020</span>
							<h2>Tanacity for Achievement</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
<!--slider end-->


<!--<app-navbar *ngIf="(af.auth | async)"></app-navbar>-->
<app-navbar></app-navbar>
<br><br><br>
<div class="container">
	<br>
<div class="fb-like" data-href="https://wakatakasailing-e7410.firebaseapp.com/" data-width="100" data-layout="standard" data-action="recommend" data-size="small" data-show-faces="true" data-share="true"></div>
</div>
<router-outlet></router-outlet>





    <!-- footer start -->
		<footer class="footer-bg">
			<div class="footer-area border-top ptb-90">
				<div class="container">
					<div class="col-md-4 col-sm-4">
						<div class="footer-info text-center">
							<span class="icon-map-pin"></span>
							<h6>梶本/川田組 セーリング競技男女混合マルチハル ナクラ17級</h6>
							<p><small><a data-toggle="modal" data-target="#squarespaceModal"><<個人情報保護に関する考え方>></a></small></p>
							<p><small><a><<ミッションステートメント>></a></small></p>
						</div>
					</div>
					
					<div class="col-md-4 col-sm-4">
						<div class="footer-info text-center">
							<span class="icon-envelope"></span>
							<h5>wakatakasailing@gmail.com</h5>
						</div>
					</div>

					<div class="col-md-4 col-sm-4">
						<div class="footer-info text-center">
							<span>
								    <a href="https://www.facebook.com/wakatakasailing/"><i class="fa fa-facebook"></i></a> 
									<a href="https://twitter.com/wakatakasailing"><i class="fa fa-twitter"></i></a>
									<a href=""><i class="fa fa-linkedin"></i></a>
							</span>
							
						</div>
					</div>
				</div>
			</div>
			<div class="footer-bottom gray-bg ptb-20">
				<div class="container">
					<div class="copyright text-center">
						<p>© 2017 <a href="#">Developed by Raison Detre Project</a>, All Rights Reserved @ Nirvana Consultant KK.</p>
						<a routerLink="/login-email">login</a>
					</div>
				</div>
			</div>
		</footer>
		<!-- footer end -->
        <!-- start scrollUp  -->
        <div id="toTop">
            <i class="fa fa-chevron-up"></i>
        </div>
    



<!-- line modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="lineModalLabel">プライバシーポリシー（個人情報保護方針）</h4>
		</div>
		<div class="modal-body">
			

            <!-- content goes here -->
			

<p><small>梶本/川田組 セーリング（以下「当社」）は、以下のとおり個人情報保護方針を定め、
	個人情報保護の仕組みを構築し、チーム関係者一同に個人情報保護の重要性の認識と取組みを徹底させることにより、個人情報の保護を推進致します。
</small></p>

<h5>（個人情報の管理）</h5>

<p> <small>
	当社は、寄付者さまの個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・
	漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備・教育の徹底等の必要な措置を講じ、
	安全対策を実施し個人情報の厳重な管理を行ないます。
</small></p>

<h5>（個人情報の利用目的）</h5>

<p> <small>
寄付者さまからお預かりした個人情報は、当社からのご連絡や業務のご案内やご質問に対する回答として、電子メールや資料のご送付に利用いたします。
</small></p>



<h5>（個人情報の第三者への開示・提供の禁止）</h5>

<p> <small>
寄付者さまよりお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。
</small></p>

<p> <small>

寄付者さまの同意がある場合
</small></p>

<p> <small>
寄付者さまが希望されるサービスを行なうために当社が業務を委託する業者に対して開示する場合
</small></p>

<p> <small>
法令に基づき開示することが必要である場合
</small></p>

<h5>（個人情報の安全対策）</h5>

<p> <small>
個人情報の正確性及び安全性確保のために、セキュリティに万全の対策を講じています。
</small></p>

<h5>（ご本人の照会）</h5>

<p> <small>
寄付者さまがご本人の個人情報の照会・修正・削除などをご希望される場合には、ご本人であることを確認の上、対応させていただきます。
</small></p>

<h5>（法令、規範の遵守と見直し）</h5>
<p> <small>
保有する個人情報に関して適用される日本の法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。
</small></p>

<h5>（お問い合せ）</h5>

Mail:wakatakasailing@gmail.com





		</div>
		<div class="modal-footer">
			<div class="btn-group btn-group-justified" role="group" aria-label="group button">
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" data-dismiss="modal"  role="button">閉じる</button>
				</div>
				<div class="btn-group btn-delete hidden" role="group">
					<button type="button" id="delImage" class="btn btn-default btn-hover-red" data-dismiss="modal"  role="button">Delete</button>
				</div>
				
			</div>
		</div>
	</div>
  </div>
</div>