<!-- service-area start -->
		<div id="sevice" class="service-area gray-bg border-top pt-90 pb-60">
			<div class="container">
				<div class="section-title text-center mb-70">
					<h2 style="font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;">
            フィジカルトレーニング</h2>
					<p style="font-size:12px; padding-left:7px; padding-right:7px;">フィジカルが主に必要な、クルーの体力を、3つの代表的指標で評価しています。
                                                                                                                                    
          </p>
				</div>
　　　
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center" >
							<i class="icon-laptop"></i>
							<h3 style="font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;">
            有酸素能力 </h3>
							<p style="font-size:12px; padding-left:7px; padding-right:7px;">達成率30％：
                VO2max参考値：30台男性平均39、イギリス49erクルー69、持久系スポーツ国内上位レベル70、持久系スポーツ国際上位レベル75、持久系スポーツ金メダリスト80～90
              </p>
						</div>
					</div>


					<div class="col-md-8 col-sm-12">
						<div class="single-service white-bg text-center">
						<img src = "./assets/img/physicaltraining.png"  style="width:100%; "> 　　

            </div>
					</div>
				   </div>


<div class="row">
				
	<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-laptop"></i>
							<h3 style="font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;">
            除脂肪体重　</h3>
							<p style="font-size:12px; padding-left:7px; padding-right:7px;">達成度90%</p>
                            </div>
					</div>

	<div class="col-md-8 col-sm-12">
						<div class="single-service white-bg text-center">
<img src = "./assets/img/physicaltraining2.png"  style="width:100%; "> 　　
						
           </div>
					</div>



</div>


<div class="row">
				
	<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-camera"></i>
							<h3 style="font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;">
            握力（保持持久力）　</h3>
							<p style="font-size:12px; padding-left:7px; padding-right:7px;">
							達成度16%: フルパワーで周回可能なコース周回数2　/　12周（3ラップ×1日最大4レース想定）</p></div>
					</div>
        
</div>


		</div>
		</div>
