<!-- service-area start -->
		<div id="sevice" class="service-area gray-bg border-top pt-90 pb-60">
			<div class="container">
				<div class="section-title text-center mb-70">
					<h2 style="font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;">
            ファンドレイジング</h2>
					<p style="font-size:12px; padding-left:7px; padding-right:7px;">現状58％の達成率ですが、今後以下の目標をさらに達成する必要があります。皆さまの心温まるご支援よろしくお願い申し上げます。</p>
				</div>
　　　
				<div class="row">
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-laptop"></i>
							<h3 style="font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;">
            オリンピックまでに必要な資金 </h3>
							<p style="font-size:12px; padding-left:7px; padding-right:7px;">2020年までの、現時点での確定収入 / 支出予想　58%あと3000万円必要です。
								（注）上記とは別に、梶本・川田それぞれの収入から、税、社会保障費、生活費が出ています</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-pencil"></i>
							<h3 style="font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;">
            2017年度の必要な資金　</h3>
							<p style="font-size:12px; padding-left:7px; padding-right:7px;">
								おかげさまで、2017年度は、ファンディング達成率77%、2017年度の必要予算到達まで、あと500万円必要です。（注）上記とは別に、梶本・川田それぞれの収入から、税、社会保障費、生活費が出ています</p>
						
                            </div>
					</div>
					<div class="col-md-4 col-sm-6">
						<div class="single-service white-bg text-center">
							<i class="icon-camera"></i>
							<h3 style="font-family: '游明朝', YuMincho, 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'HG明朝E', 'ＭＳ Ｐ明朝', 'ＭＳ 明朝', serif;">
            2017年度中に達成できる事　</h3>
							<p style="font-size:12px; padding-left:7px; padding-right:7px;">
								①NACRA17コーチの雇用
                                ②ワスプインターナショナルレガッタに参加し、高速な水中翼艇でのレース経験を積む 
                                ③国内練習用に、必須の、コーチボートを購入</div>
					</div>
           </div>
		</div>
		</div>

<div id="sevice" class="service-area gray-bg border-top pt-90 pb-60">
			<div class="container">
   <div class="col-md-12 col-sm-12">
	 	<div class="single-service white-bg text-center">
		<img src = "./assets/img/fundraising.png" class="img-thumbnail" style="width:100%; "> 　　
　　　   </div>
		</div>
	</div>
</div>
	<!-- service-area end -->

