
		<!-- login start -->
        <section id="userlogin" class="pricing-area ptb-100">
            <div class="container full-width-sm">
				<div class="section-title text-center mb-70">
					<h2>SNS-LOGIN</h2>
					<p>SNSでログインして、活動状況、ファンディング状況、各種ラグジュアリーイベントや船上イベント、セイリング講習などの情報を得る事ができます。</p>
				</div>		

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12"></div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="single-pricing mrg-tb">
                            <div class="pricing-top">
                                <h3>Login</h3>
                                <!--<p>$34<span>/Month</span></p>-->
                            </div>
                            <div class="pricing-bottom">
                                <div class="pricing-tex">
                                    
                                </div>
								<br><br>
								
                                <div class="price-btn">
                                    <a><i class="fa fa-facebook"></i></a>
                                    <a (click)="loginFb()"> <small>Account login</small></a>
                               
							    </div>
								<br><br>
								<div class="price-btn">
                                    <a><i class="fa fa-google-plus"></i></a>
                                    <a (click)="loginGoogle()"><small> Account login</small></a>
                               
                                </div>
								
                            </div>
                        </div>
                    </div>
                    
					<div class="col-md-4 col-sm-4 col-xs-12"></div>
                </div>
            </div>
        </section>
		<!-- login end -->

