
 
		<div id="team" class="team-area pt-90 pb-60">
			<div class="container">
				<div class="section-title text-center mb-70">
					<h2>Great Team</h2>
					<h4>梶本/川田組 セーリング競技男女混合マルチハル ナクラ17級 </h4>
					<p>東京オリンピックセーリング競技でメダル獲得を目指す、梶本和歌子と川田貴章のオフィシャルサイトです。</p>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-4">
						<div class="team-wrapper mb-30">
							<div class="team-member">
								<img src="./assets/img/team/wakako.jpg" alt="" />
								<div class="team-icon">
									<!--<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-tumblr"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>-->
								</div>
							</div>
							<div class="team-info text-center">
								<h3>Kajimoto Wakako </h3> 
								<span>Helm</span>
                <p style="font-size:12px; padding-left:7px; padding-right:7px;">1983年生まれ。ジュニアからセーリングを始め、1人乗り/2人乗り、ヘルム/クルー、水中翼付きヨットまで、幅広く活躍。ジュニアではオプティミスト級ナショナルチーム、高校生時には全国高校総体・国体・全日本選手権優勝、大学生時には全日本学生ヨット選手権優勝、470全日本選手権2位・女子優勝を飾る（ヘルム）。2012年のロンドンオリンピック470級女子代表、ワールドランキング1位に上りつめる(クルー)。2015-2016年にはナクラ17級の日本唯一のチームとしてリオデジャネイロオリンピックを
                  目指して活動、2016年にはモス級(水中翼付き1人乗り)の世界選手権女子優勝、レーザーラジアル級全日本選手権3位となった。</p>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="team-wrapper mb-30">
							<div class="team-member">
								<img src="./assets/img/team/takaaki.jpg" alt="" />
								<div class="team-icon">
									<a href="https://www.facebook.com/takaaki.kawata.7"><i class="fa fa-facebook"></i></a>
									<!--<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-tumblr"></i></a>-->
									<a href="https://www.linkedin.com/in/kawata-takaaki-46a45712b/"><i class="fa fa-linkedin"></i></a>
									<!--<a href="#"><i class="fa fa-dribbble"></i></a>-->
								</div>
							</div>
							<div class="team-info text-center">
								<h3>Kawata Takaaki</h3>
								<span>Crew</span>
							<p style="font-size:12px; padding-left:7px; padding-right:7px;">1983年生まれ。ジュニアからセーリング競技を始め、麻布高校3年時に、一人乗りで国体、全日本など、出場した全ての国内大会で優勝。東京大学理科3類に入学し、４７０ヘルムとして、北京オリンピックを目指し世界選手権などで活躍。内科医として働きながら、モス級（一人乗り水中翼艇）や、審判として活躍。2016年、
                東京オリンピックに向け休職し、満を持して競技に復帰。日本セーリング連盟ルール委員会規程管理小委員会副委員長、日本470級協会理事、A級審判を務める。</p>
              </div>
						</div>
					</div>
					<div class="col-md-4 col-sm-4">
						<div class="team-wrapper mb-30">
							<div class="team-member">
								<img src="./assets/img/team/team-3.jpg" alt="" />
								<div class="team-icon">
									<!--<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-tumblr"></i></a>
									<a href="#"><i class="fa fa-linkedin"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>-->
								</div>
							</div>
							<div class="team-info text-center">
								<h3>Vacant</h3>
								<span>Coach</span>
								<p style="font-size:12px; padding-left:7px; padding-right:7px;">現在、欧州より国際的に実績のあるセーリングコーチの募集を開始いたしました。</p>
             
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

